<template>
    <div repeat.for="type of types">
        <input type="checkbox" 
               checked.bind="type.selected"
               change.delegate="$parent.typeSelected(type)" />${type.name}
    </div>

    <table if.bind="sizes" class="table">
        <thead>
            <tr>
                <th>Compare</th>
                <th>Name</th>
                <th>Area (sq. mi)</th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="size of sizes">
		        <template if.bind="size.shouldShow">
                    <td>
                        <input type="checkbox"
                               checked.bind="size.selected"
                               change.delegate="$parent.sizeSelected(size)" />
                    </td>
                	<td style="color: ${size.color}">${ size.areaName }</td>
                	<td>${ size.area }</td>
		        </template>
            </tr>
        </tbody>
    </table>
    <svg width="1000" height="1000" >
    	<circle repeat.for="size of sizes" 
                cx.bind="300" cy.bind="300" 
                r.bind="size.drawnArea"
			    stroke="blue"
                style="fill: ${size.color}"
                textContent.bind="size.areaName" >
        </circle>
      </svg>
</template>
